.settings-toggle {
    
}

.settings label {
    margin-right: 10px;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    background-color: #414855;
}

.settings .settings-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings-form.settings-closed {
    display: none;
}

.settings-form.settings-open {
    display: auto;
}

.input-group {
    display: block;
    min-width: 140px;
    flex: 1;
    padding: 0.5em;
    margin: 0.5em;
}

.input-group label {
    display: block;
    color: #f0adfd;
}

.input-group input {
    width: 80px;
}

.input-group select {
    width: 100px;
}
