/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.main-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header .header-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3em;
}

.header-menu h1 {
  font-size: 1.3em;
}

.header-menu .header-title {
  flex: 1 1 auto;
}

