img.logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 10px;
  
}



.App-header {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header .header-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3em;
}

header .header-menu > div {
  flex: 1;
}

.header-menu h1 {
  font-size: 1.3em;
  display: inline-block;
}

.header-menu .header-title {
  flex: 1 1 auto;
  width: 30%;
}

.header-menu .header-docitem {
  flex: 0 0 auto;
}

.header-button {
  padding: 10px;
  margin: 2px;
  border: solid 1px #c770d8;
  color: #c770d8;
  display: inline-block;
  text-decoration: none;
}

header .header-menu div.logo-wrap {
  flex: 0 0 auto;
}

@media only screen and (max-width: 600px) {
  .header-menu label {
    display: none;
  }
}