body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button, select {
  padding: 10px;
  border: solid 1px #c770d8;
  color: #c770d8;
  background-color: #302834;
  margin: 2px;
  
}

button:hover {
  background-color: #5f3368;
  color: #e7cdf1;
  border: 1px solid #e7cdf1;
}